@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;

}

body > img{
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

h2{
    color:white;
}

section{
    display:grid;
    place-items: center;
    position: absolute;
    inset: 0;
}

section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

section div img {
    width: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 8px 1px lightblue;
}

a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1.5px solid white;
    padding: 10px;
    color: white;
    text-decoration: none;
    gap: 20px;
    align-items: center;
    border-radius: 4px;
    transition-duration: 200ms;
    cursor: pointer;
}

a:hover {
    background: white;
    color: #0f172a;
}

a i {
    font-size: 1.3em;
}